# VECTREX


#### Sharder
video_shader_enable = true
video_shader = "/recalbox/share_init/shaders/shaders_glsl/blur5x5.glsl"


#### Overlay
input_overlay_opacity = "1"
video_fullscreen_x = 1280
video_fullscreen_y = 720
aspect_ratio_index = 22

input_overlay = "/recalbox/share/system/configs/retroarch/overlays/pack-vectrex/StarHawk (World).cfg"

custom_viewport_x = "418"
custom_viewport_y = "64"
custom_viewport_width = "443"
custom_viewport_height = "579"